* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    
    color: #286aab;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

body.player {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282828+0,0e0e0e+99 */
    background: rgb(40,40,40); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(40,40,40,1) 0%, rgba(14,14,14,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(40,40,40,1)), color-stop(99%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(40,40,40,1) 0%,rgba(14,14,14,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(40,40,40,1) 0%,rgba(14,14,14,1) 99%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(40,40,40,1) 0%,rgba(14,14,14,1) 99%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(40,40,40,1) 0%,rgba(14,14,14,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: cover !important;
    background-position: center !important;
}

h1 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

input {
    color: white;
    padding: 6px;
    background: none;
    outline: none;
    border: none;
}

input::-webkit-input-placeholder {
    color: #286aab;
}


/* PLAYLIST */
.lastfm-scrobble {
    font-size: 1.5em;
    left: 10px;
    position: absolute;
    top: 90px;
    cursor: pointer;
    transition: 0.3s;
}

.lastfm-scrobble:hover {
    color: white;
}

.lastfm-scrobble-active {
    color: #2ca928;
}

body.showing-playlist .lastfm-scrobble {
    left: 400px;
}

/* SIDEBAR */
#sidebar {
    left: -390px;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-right: 50px;
    transition: 0.3s;
}

.showing-sidebar #sidebar {
    left: 0;
}

.sidebar-icons {
    position: absolute;
    width: 50px;
    height: 100%;
    right: 0;
    top: 0;
}

.sidebar-icons i {
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 100;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.sidebar-icons > span {
    float: left;
    margin-left: 50px;
    width: 120px;
    color: #444;
    margin-top: -25px;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.sidebar-icons:hover > span {
    opacity: 1;
}


.sidebar-content {
    background: #173d63;
    width: 390px;
    padding: 20px;
    color: white;
    font-family: "raleway", sans-serif;
    overflow-y: auto;
    z-index: 100;
    position: relative;
    height: 100%;
}


#sidebar h1 {
    margin-top: 5px;
}


#sidebar .tracklist-search {
    border: 1px solid #173d63;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 10px;
    right: 10px;
    height: 50px;
}

#sidebar.show-search .tracklist-search {
    border-color: white;
    background: #173d63;
}

#sidebar .tracklist-search i {
    line-height: 46px;
    font-size: 22px;
    color: #999999;
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 5px;
    z-index: 2;
}

#sidebar .tracklist-search i:hover {
    color: white;
}

#sidebar input {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 22px;
    padding-right: 42px;
    padding-left: 10px;
}

#sidebar.show-search input {
    display: block;
}



#sidebar ul {
    list-style: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

#sidebar ul li {
    font-weight: 300;
    padding: 2px 0;
    font-size: 0.9em;
}

#sidebar ul li.artist-list {
    padding: 6px 0;
    font-weight: 500;
}

#sidebar ul li li {
    font-size: 1em;
    margin-left: 20px;
}

#sidebar ul li li:first-child {
    padding-top: 4px;
}

#sidebar ul li li strong {
    font-weight: 300;
}

#sidebar ul li.letter {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    margin: 25px -20px 6px;
    padding: 4px 20px;
    background: white;
    color: #286aab;
}

#sidebar ul li strong {
    font-weight: 500;
}

#sidebar ul li a {
    color: #999999;
    float: right;
    outline: none;
}

#sidebar ul li a.play-youtube {
    margin-right: -10px;
    margin-left: 8px;
}

#sidebar ul li a.queue-add {
    margin-left: 5px;
}

#sidebar ul li a:hover {
    color: white;
}


#search {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 280px;
    z-index: 10;
}

#search .search-container {
    border: 1px solid #173d63;
    position: relative;
}

#search .search-container input {
    width: 100%;
    padding-right: 30px;
}

#search .search-container i {
    position: absolute;
    top: 4px;
    right: 3px;
    color: #173d63;
}


#search .search-results {
    margin: 0;
    padding: 0;
    list-style: none;
}

#search .search-results li {
    margin-top: 1px;
    background: #173d63;
    overflow: hidden;
    padding: 6px;
    position: relative;
    cursor: pointer;
    transition: 0.1s;
}

#search .search-results li.no-results {
    font-weight: 400;
    color: white;
    cursor: default;
    font-size: 0.9em;
}

#search .search-results li.added {
    border-left: 4px solid #208820;
    margin-left: -4px;
    cursor: default;
}

#search .search-results li:not(.added):not(.no-results):hover {
    background: #1d4c7c;
}

#search .search-results li:not(.added):not(.no-results):hover i {
    opacity: 1;
}

#search .search-results li h3,
#search .search-results li strong {
    margin: 0;
    margin-left: 45px;
    display: block;
}

#search .search-results li h3 {
    font-size: 14px;
    color: #eef;
    margin-bottom: 4px;
}

#search .search-results li strong {
    font-size: 12px;
    font-weight: 400;
}

#search .search-results li img {
    float: left;
    width: 36px;
    height: 36px;
}

#search .search-results li i {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 32px;
    line-height: 35px;
    color: white;
    opacity: 0;
    transition: 0.2s;
    text-shadow: 0 0 4px #1d4c7c;
}

#container {
    display: none;
    position: relative;
    top: 50%;
    margin-top: -260px;
    text-align: center;
    transition: 0.3s;
    left: 0;
}

.showing-sidebar #container {
    left: 200px;
}

#details h1,
#details h3 {
    margin: 0;
    padding: 0;
}

#details h3 {
    font-weight: 300;
}

#details .album-art {
    margin-bottom: 8px;
    position: relative;
    display: inline-block;

    transition:; 0.5s;
}

#details .album-art img {
    width: 300px;
    height: 300px;
    float: left;
    background: #151515;
}

#details .album-art img::after {
    content: "";
    font-family: FontAwesome;
    font-size: 100px;
    line-height: 300px;
    width: 100%;
    color: #202020;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#details .album-art .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #286aab;
    width: 0;
}

#details h3 {
    margin-top: 4px;
    color: #555555;
}


#controls .control {
    position: relative;
    display: inline-block;
    margin: 1em;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.4em;
    transition: color 0.7s;
    cursor: pointer;
    
    font-size: 2em;
    color: #173d63;
}

#controls .control:hover {
    color: #286aab;
}

#controls .control-active {
    color: white !important;
}

#controls .control-deactive {
    color: #444;
}

#controls .control .count {
    position: absolute;
    top: 0px;
    left: 26px;
    background: #286aab;
    border-radius: 100px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: white;
    font-size: 11px;
    text-align: center;
}

#controls .control--like .count {
    left: auto;
    right: 26px;
}

#controls .control::before {
    position: absolute;
    top: 50%;
    left: -20px;
    margin: -4px 0 0 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(111,148,182,0.3);
    content: '';
    opacity: 0;
    -webkit-transform-origin: 35px 50%;
    transform-origin: 35px 50%;
}


@media screen and (max-width: 500px) {
    #search {
        width: auto;
        left: 10px;
        bottom: 10px;
       top: auto;
    }
}

